@import "tailwindcss";

@theme {
    --color-sage: #607456;
    --color-brown:#BA6A4C;
    --color-beige:#EEE0CC;
    --color-maroon:#7B2525;
}
html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; 
}